{%- for card in site.cards -%}
<div class="column is-one-third">
  <div class="card large">
    <div class="card-image">
      <figure class="image">
        <img
          src="/assets/images/{{ card.image.file }}"
          alt="{{ card.image.alt }}"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img
              src="/assets/images/{{ card.media.file }}"
              alt="{{ card.media.alt }}"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 no-padding">{{ card.title }}</p>
          <p>
            <span class="title is-6"
              ><a href="{{ card.twitter.link }}" target="_blank">
                {{ card.twitter.account }}
              </a>
            </span>
          </p>
          <p class="subtitle is-6">{{ card.author.title }}</p>
        </div>
      </div>
      <div class="content">
        {{ card.content }}
        <div class="background-icon"><span class="icon-twitter"></span></div>
      </div>
    </div>
  </div>
</div>
{%- endfor -%}
