{%- for course in site.courses -%}
<div class="column is-one-quarter-widescreen is-one-third-desktop is-narrow">
  <article class="message is-green">
    <div class="message-header">
      <p>{{ course.title }}</p>
    </div>
    <div class="message-body">
      <p>{{ course.content }}</p>
      <hr />
      {%- for item in course.items -%}
      <div class="board-item">
        <div class="board-item-content">
          <span>{{ item }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>
</div>
{% endfor %}
