<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href="#"
          ><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i
        ></a>
        <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      </div>
      <p>
        <strong>Anacleto.online</strong> <br />

        <a href="https://bulma.io">
          <img
            src="/assets/images/made-with-bulma--white.png"
            alt="Made with Bulma"
            width="128"
            height="24"
          />
        </a>
        <br />
        The
        <a href="https://gitlab.com/dpennica/anacleto.online">source code</a> is
        licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br />
        <small>
          Thanks to <a href="https://www.pexels.com/">Pexels</a> for the images.
        </small>
      </p>
    </div>
  </div>
</footer>
