<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="" type="image/x-icon" />
  <link
    rel="stylesheet prefetch"
    href="{{ '/assets/main.css' | relative_url }}"
  />
  <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/assets/css/cards.css" />
  <link rel="stylesheet" href="/assets/css/kanban.css" />
</head>
