<header>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="/assets/images/anacleto-logo.jpg" alt="Anacleto.online" />
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span> <span></span> <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item is-active"> Home </a>
          <a href="/corsi/" class="navbar-item"> Corsi </a>
          <a class="navbar-item"> Team </a>
          <a class="navbar-item"> Chi Siamo </a>
          <a class="navbar-item"> Help </a>
          <a class="navbar-item"> Area Riservata </a>
          <!--
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"> Area Riservata </a>
              <div class="navbar-dropdown">
                <a class="navbar-item"> Dashboard </a>
                <a class="navbar-item"> Profile </a>
                <a class="navbar-item"> Settings </a>
                <hr class="navbar-divider" />
                <div class="navbar-item">Logout</div>
              </div>
            </div>
          -->
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
</header>
