<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="container" aria-label="Content">{{ content }}</main>

    {%- include footer.html -%}
    <script src="/assets/js/bulma.js"></script>
  </body>
</html>
