---
layout: default
---

<div id="homepage">
  <div id="flow">
    <span class="flow-1"></span> <span class="flow-2"></span>
    <span class="flow-3"></span>
  </div>
  <div class="section">
    <div class="columns is-full is-desktop">{%- include card.html %}</div>
  </div>
</div>
